<div class="app">
  <header>
    <div>
      <div class="game-status player-status-{{playerTurn}}">
        <div *ngIf="gameOver">
          <h1>Player {{playerTurn}} has won!</h1>
        </div>
        <div *ngIf="!gameOver">
          <h1>Player {{playerTurn}}'s Turn</h1>
        </div>
      </div>
      <button class="reset-button" (click)="resetGame()">Reset Game</button>
    </div>
  </header>
  <main>
    <table class='grid-table'>
      <tbody>
      <tr class="grid-row" *ngFor="let row of rows">
        <td id="column-{{column}}-row-{{row}}" *ngFor="let column of columns"
            (click)="addDisc(column)"
            class="grid-disc grid-disc-player-{{getPlayerNumber(getCell(column, row).usedAtTurn)}}">
          <div class="grid-disc-circle {{gameOver ? ' game-over' : ''}}"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </main>
</div>
