.grid-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background-color: dodgerblue;
  border-radius: 8px;
  cursor: pointer;
}

.grid-row {
}

.grid-disc {
  width: 95px;
  height: 95px;
}

.grid-disc-circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.grid-disc-player-0 .grid-disc-circle {
  background-color: white;
}

.grid-disc-player-0 .grid-disc-circle.game-over {
  background-color: lightgray;
}

.grid-disc-player-1 .grid-disc-circle {
  background-color: yellow;
}

.grid-disc-player-2 .grid-disc-circle {
  background-color: red;
}

.game-status {
}

.player-status-1 {
  background-color: yellow;
}

.player-status-2 {
  background-color: red;
}
